{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered table-primary table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Payment Mode</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                    <tr class="table-primary">
                    <tr>
                        <td>{{ income.category }}</td>
                        <td>{{ income.amount }}</td>
                        <td>{{ income.mode }}</td>
                        <td>{{ income.date_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><b>Total Income: ksh. {{ total_income }}</b></p>
        </div>
    </div>
</div>
{% endblock content %}
